.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 25px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: roboto, arial;
    font-size: 10px;

}